body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.startcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    transition: left 1s;
}

.startcontainer.hidden {
    left: -1920px;
}

.title {
    font-size: 80px;
}

.battleplayerbutton {
    width: 200px;
    height: 25px;
    margin-bottom: 25px;
}

.battlecomputerbutton {
    width: 200px;
    height: 25px;
}

.refreshcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: -1920px;
    transition: left 1s;
}

.refreshcontainer.not-hidden {
    left: 0px;
}

.refreshcontainer.not-hidden.hidden {
    left: 1920px;
}

.newgamebutton {
    width: 200px;
    height: 25px;
    margin-bottom: 25px;
}

.continuebutton {
    width: 200px;
    height: 25px;
}

.choosecolorcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    right: -1920px;
    transition: right 1s;
}

.choosecolorcontainer.not-hidden {
    right: 0px;
}

.choosecolorcontainer.not-hidden.hidden {
    right: 1920px;
}

.choosecolorbackbuttoncontainer {
    width: 100vw;
}

.choosecolorbackbutton {
    width: 100px;
    height: 100px;
    background-image: url("arrow-left-bold-outline.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.choosecolortitle {
    text-align: center;
    font-size: 40px;
}

.choosewhite {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.chooseblack {
    width: 50px;
    height: 50px;
    background-color: black;
}

.gamecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    right: -1920px;
    transition: right 1s;
}

.gamecontainer.not-hidden {
    right: 0px;
}

.gamebackbutton {
    width: 100px;
    height: 100px;
    background-image: url("arrow-left-bold-outline.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currentplayercontainer {
    display: flex;
    justify-content: center;
}

.currentplayertitle {
    font-size: 24px;
}

.boardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.board {
    display: grid;
    width: 30vw;
    aspect-ratio: 1 / 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid rgb(182,116,58);;
}

.boardsquarewhite {
    background-color: rgb(244,220,160);
    transition: background-color 0.5s;
}

.boardsquarewhite:hover {
    background-color: rgb(255, 183, 0);
}

.boardsquareblack {
    background-color: rgb(182,116,58);
    transition: background-color 0.5s;
}

.boardsquareblack:hover {
    background-color: rgb(185, 88, 0);
}

.boardsquarechosen {
    border: solid red;
}

.boardsquarewhitepawn {
    background-image: url("chess-pawn-white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boardsquarewhiterook {
    background-image: url("chess-rook-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhiteknight {
    background-image: url("chess-knight-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhitebishop {
    background-image: url("chess-bishop-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhitequeen {
    background-image: url("chess-queen-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhiteking {
    background-image: url("chess-king-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackpawn {
    background-image: url("chess-pawn.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boardsquareblackrook {
    background-image: url("chess-rook.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackknight {
    background-image: url("chess-knight.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackbishop {
    background-image: url("chess-bishop.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackqueen {
    background-image: url("chess-queen.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackking {
    background-image: url("chess-king.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.optionscontainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.resignbutton, .drawbutton, .checkmatebutton, .undobutton {
    height: 50px;
    width: 150px;
}

.battleplayerbutton, .newgamebutton, .choosecolorbackbutton, .gamebackbutton, .drawbutton, .checkmatebutton {
    border: solid rgb(244,220,160);
    border-radius: 5px;
    background-color: rgb(182,116,58);
    transition: background-color 0.5s, border-color 0.5s;
}

.battleplayerbutton:hover, .newgamebutton:hover, .choosecolorbackbutton:hover, .gamebackbutton:hover, .drawbutton:hover, .checkmatebutton:hover {
    background-color: rgb(185, 88, 0);
    border-color: rgb(255, 183, 0);;
}

@media (max-width: 1230px) {
    .board {
        display: grid;
        width: 50vw;
    }
}