body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.startcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battleplayerbutton {
    width: 200px;
    height: 25px;
    margin-bottom: 25px;
}

.battlecomputerbutton {
    width: 200px;
    height: 25px;
}

.refreshcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.newgamebutton {
    width: 200px;
    height: 25px;
    margin-bottom: 25px;
}

.continuebutton {
    width: 200px;
    height: 25px;
}

.choosecolorcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.choosecolorbackbuttoncontainer {
    width: 100vw;
}

.choosecolorbackbutton {
    width: 100px;
    height: 100px;
    background-image: url("arrow-left-bold-outline.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.choosecolortitle {
    text-align: center;
}

.choosewhite {
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.chooseblack {
    width: 50px;
    height: 50px;
    background-color: black;
}

.gamecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: none;
}

.gamebackbutton {
    width: 100px;
    height: 100px;
    background-image: url("arrow-left-bold-outline.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currentplayercontainer {
    display: flex;
    justify-content: center;
}

.currentplayertitle {
    font-size: 24px;
}

.boardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.board {
    display: grid;
    width: 25%;
    aspect-ratio: 1 / 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: solid rgb(182,116,58);;
}

.boardsquarewhite {
    background-color: rgb(244,220,160);
    transition: background-color 0.5s;
}

.boardsquarewhite:hover {
    background-color: rgb(255, 183, 0);
}

.boardsquareblack {
    background-color: rgb(182,116,58);
    transition: background-color 0.5s;
}

.boardsquareblack:hover {
    background-color: rgb(185, 88, 0);
}

.boardsquarechosen {
    border: solid red;
}

.boardsquarewhitepawn {
    background-image: url("chess-pawn-white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boardsquarewhiterook {
    background-image: url("chess-rook-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhiteknight {
    background-image: url("chess-knight-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhitebishop {
    background-image: url("chess-bishop-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhitequeen {
    background-image: url("chess-queen-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquarewhiteking {
    background-image: url("chess-king-white.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackpawn {
    background-image: url("chess-pawn.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.boardsquareblackrook {
    background-image: url("chess-rook.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackknight {
    background-image: url("chess-knight.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackbishop {
    background-image: url("chess-bishop.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackqueen {
    background-image: url("chess-queen.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.boardsquareblackking {
    background-image: url("chess-king.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.optionscontainer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.resignbutton, .drawbutton, .checkmatebutton, .undobutton {
    height: 50px;
    width: 150px;
}